*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: chocolate;
    background: rgb(20, 26, 54);
}
.timer{
    color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(123, 218, 241);
}
.btn{
    margin: 35px 15px;
    padding: 10px 30px;
    background-color: transparent;
    border: 3px solid chocolate;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    color: chocolate;
}